@using Najdoktor.Model
@model Pacijent

@{
	ViewData["Title"] = "Dodavanje novog pacijenta";
}


<div class="row">
	<div class="col-md-4">
		<form asp-action="EditPacijent">
			<input type="hidden" asp-for="ID" />
			<partial name="_CreateEditPacijent" />
		</form>
	</div>
</div>